# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular development environment open source tools used in data science.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools. |
| -------------------|
|Jupyter Notebooks |
| Zeppelin Notebooks |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
round(float(200/60),2)

3.33

## Author
Kuba Wo≈∫niak